* text eol=lf

# Denote all files that are truly binary and should not be modified
*.ttf binary
*.png binary
*.webp binary
*.woff binary
*.json linguist-vendored
*.css linguist-vendored
*.xml linguist-vendored
*.html linguist-vendored

# Tell GitHub this is a JavaScript project
* linguist-vendored
*.js linguist-vendored=false
*.jsx linguist-vendored=false
*.scss linguist-vendored=false